
<div class="container m-5">
  <h1>Carga de Productos</h1>
  <form action="/productos" method="POST" id="formProd">
    <div class="input-group m-3">
      <span class="input-group-text">Nombre: </span>
      <input type="text" class="form-control" placeholder="Nombre" name="title">
    </div>
    <div class="input-group m-3">
      <span class="input-group-text">Precio: </span>
      <input type="number" class="form-control" placeholder="Precio" name="price">
    </div>
    <div class="input-group m-3">
      <span class="input-group-text">URL Imagen </span>
      <input type="text" class="form-control" placeholder="URL" name="thumbnail" id="url">
    </div>
    <button class="btn btn-success m-3" type="submit"><i class="bi bi-check-square-fill"></i> Registrar</button>
    <a href="/productos" class="btn btn-info m-3" role="button"><i class="bi bi-collection-play-fill"></i> Catalogo</a>
  </form>
  <hr>
  <div class="container">
    <span>URL de Fotos Precargadas</span>
    <br>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2022/01/iPhone_13_mini_ProductRED_PDP_Image_position-5__CLCO_v1-removebg-preview-300x300.png')"><i class="bi bi-card-image"></i> Foto 1</button>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2022/01/iPhone_13_Pro_Gold_PDP_Image_position-5__MXLA_v1-removebg-preview.png')"><i class="bi bi-card-image"></i> Foto 2</button>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2020/08/iPhoneSEBlack-300x300.png')"><i class="bi bi-card-image"></i> Foto 3</button>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2020/03/iPhone11Roseta-300x300.png')"><i class="bi bi-card-image"></i> Foto 4</button>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2021/03/iPhone12minifam-300x300.png')"><i class="bi bi-card-image"></i> Foto 5</button>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2022/01/iPhone_13_Pro_Gold_PDP_Image_position-1B__MXLA_v1.jpg')"><i class="bi bi-card-image"></i> Foto 6</button>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2022/01/iPhone_13_Pro_Gold_PDP_Image_position-3__MXLA_v1-removebg-preview-2.png')"><i class="bi bi-card-image"></i> Foto 7</button>
    <button class="btn btn-sm btn-primary" onclick="copiar('https://d2ihpvt6nd5q28.cloudfront.net/wp-content/uploads/2020/08/iphoneSEred1.png')"><i class="bi bi-card-image"></i> Foto 8</button>
  </div>
</div>
